@import "tailwindcss";

@import './styles/theme.css';

html,
body,
#root {
  height: 100%;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}
.text-primary {
  color: var(--text-primary);
}
.text-text-muted {
  color: var(--text-muted);
}
.text-success {
  color: var(--status-success);
}
.text-warning {
  color: var(--status-warning);
}
.text-error {
  color: var(--status-error);
}
.text-info {
  color: var(--status-info);
}
.bg-surface-page {
  background-color: var(--surface-page);
}
.bg-primary {
  background-color: #ff85a1 ;
}
.border-primary {
  border-color: #ff85a1;
  color: #ff85a1;
}